@using ZavenDotNetInterview.Infrastructure.DTOs;
@model List<JobDto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create", "Create")
@Html.ActionLink("Process", "Process")

<tbody>
    <table id="jobs_table" class="table table-bordered"></table>
</tbody>


<script src="../../Content/js/site/jobs/table-director.js"></script>