@model List<ZavenDotNetInterview.Core.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create", "Create")
@Html.ActionLink("Process", "Process")

<table id="jobs_table"></table>

<script src="../../Content/js/site/jobs/table-director.js"></script>